freeipa_hostname: '{{ inventory_hostname }}'
freeipa_domain: '{{ base_domain }}'
freeipa_realm_dc: hackinglab

# FreeIPA admin users
freeipa_directory_password: <password>
freeipa_admin_user: admin
freeipa_admin_password: <password>
freeipa_dns_server1: <dns 1>
freeipa_dns_server2: <dns 2>

# FreeIPA DNS user
freeipa_dns_minion_user: dnsservice
freeipa_dns_minion_pass: <password>

# FreeIPA Gitlab user
freeipa_gitlab_user: gitlabservice
freeipa_gitlab_pass: <password>